body{
	background: url(../img/bg_01.jpg) no-repeat;
	background-size:100% ;	
	color: white;
	font-size: 14px;
}
body,ul,li{
	padding: 0px;
	margin: 0px;
}
li{
	list-style: none;
}
a{
	text-decoration: none;
}


.inform {
  width: 80%;
  height: 210px;
  margin: 30px auto 0 auto;
  background: rgba(125,125,125,.3);
  -webkit-border-radius:10px ;
  -moz-border-radius:10px ;
  border-radius:10px ;
  border: 1px solid #7d7d7d;
}
.inform ul {
  padding: 20px;
}
.inform li{
	border-bottom: 1px solid #7d7d7d;
	padding-bottom: 5px;
	margin-top: 5px;
}
select{
	background: none;
	border: 0;
	color: white;;
}
option{
	color: #313131;
}
input[type="submit"] {
  background-color: #ab9358;
  border: 0;
  color: white;
  font-size: 1.2em;
  width: 80%;
  line-height: 27px;
  border-radius: 5px;
  display: block;
  margin: 20px auto;
}



@media only screen and (min-width: 321px) and (max-width: 360px) {
	
}
@media only screen and (min-width:361px) and (max-width: 375px) {
	
	
	
}
@media only screen and (min-width: 376px) and (max-width: 640px) {
	
}
