
body{
	padding: 0;
	margin: 0;
	background: black;
	font-size: 12px;
	}
a{
	list-style:none;
	text-decoration: none;
	color:#434343;
	font-weight: 600;
}
p{
	color: white;
	margin: 0;
}
.page{
	padding-bottom:50px ;
	
}
.header{
	width:100%;
	height: 30px;
	background: white;
	clear: both;
}
.header a{
	font-size: 1.1em;
	padding-top: 8px;
}
.header a:nth-child(1) {
  float: left;
  margin-left: 15%;
  color: #c1b085;
  border-bottom: 2px solid #c1b085;
  padding-bottom: 2px;
}
.header a:nth-child(2){
	float: right;
	margin-right: 15%;
}
.quarter_card{
	width:90%;
	height: 170px;
	margin: 15px 5% 0 5%;
	border-radius:20px ;
	background-size: 100%;
	position: relative;
}
.out_main{
	float: left;
	width:70%;
	height:104px ;
	margin: 20px 15% 10px 15%;
}
.in_main{
	float: left;
	width: 95%;
	height:90px;
	margin: 5px;
	border: 1px solid #a3212a;
	
}
.in_main h1 {
  margin: 0;
  font-size: 1.2em;
  text-align: center;
  padding: 12px 0px 4px 0px;
}
.introduce{
	width: 100%;
	height:35px;
	/*background: rgba(0,0,0,.4);*/
	position: absolute;
	bottom: 0;
	background: black;
	opacity: .6;
}
.introduce p{
	padding: 3px 10px;
	font-size: 12px;

}
span.now {
  display: inline-block;
  margin-left: 28%;
  font-size: 16px;
}
span.now b {
  width: 9px;
  height: 13px;
  display: inline-block;
  background: url(../img/icon_04.png) no-repeat;
  background-size:100% ;
}

button.draw {
  background-color: #a3212a;
  border: 0;
  padding: 4px 15px; 
  color: white;
  margin: 0 auto;
  display: block;
  margin-top: 10px;
}


@media only screen and (min-width: 321px) and (max-width: 360px) {
	.quarter_card {
  	height: 190px;
	}
.out_main{
	height: 127px;
}
.in_main{
	height: 115px;;
}
button.draw {
  padding: 5px 17px;
  margin-top: 10px;
}
.in_main h1 {
	  padding: 20px 0px 4px 0px;
}
span.now{
	margin-top: 8px;
	margin-left: 31%;
}

}

@media only screen and (min-width: 361px) and (max-width: 375px) {
	.quarter_card {
  	height: 195px;
	}
	.out_main{
	height: 127px;
	}
	.in_main{
	height: 115px;;
	}
	.in_main h1{
		padding: 23px 0px 12px 0px;
	}  
	span.now {
 	 display: inline-block;
 	 margin-left: 31%;
	}
	button.draw {
	  padding: 5px 18px;
	}
	

}

@media only screen and (min-width: 376px) and (max-width: 640px) {
	.quarter_card {
		  height: 215px;
	}
	.out_main {
	  height: 135px;
	  margin: 30px 15% 10px 15%;
	}
	.in_main{
		  height: 123px;
	}
	.in_main h1{
		font-size: 1.7em;
		margin-top: 5px;
		margin-bottom: 5px;
	}  
	span.now {
 	 display: inline-block;
 	 margin-left: 31%;
 	 font-size: 1.8em;
	}
	button.draw {
	  padding: 5px 18px;
	  margin-top: 13px;
	  font-size: 1.2em;
	}
}


