
body{
	padding: 0;
	margin: 0;
	background: white;
	font-size: 12px;
	background: #ececec;
	}
a{
	list-style:none;
	text-decoration: none;
	color:#434343;
	font-weight: 600;
}
p{
	color: white;
	margin: 0;
}
ul{
	padding: 0;
	margin: 0;
}
li{
	list-style: none;
}

.page{
/*	padding-bottom:50px ;*/
	background: white;
}
.header{
	width:100%;
	height: 30px;
	background: white;
	clear: both;
	border-bottom: 1px solid #c1b085;

}
.header a{
	font-size: 1.1em;
	padding-top: 8px;
}
.header a:nth-child(1) {
  float: left;
  margin-left: 15%;
  
}
.header a:nth-child(2){
	float: right;
	margin-right: 15%;
	color: #c1b085;
  	border-bottom: 2px solid #c1b085;
 	padding-bottom: 2px;
}
.quarter_card{
	width:90%;
	height: 170px;
	margin: 15px 5% 0 5%;
	border-radius:20px ;
	background-size: 100%;
	position: relative;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 12px;
	-webkit-box-shadow: 3px 3px 3px rgba(0,0,0,.4);  
 	-moz-box-shadow: 3px 3px 3px rgba(0,0,0,.4);  
  	box-shadow: 3px 3px 3px rgba(0,0,0,.4);  
}
.out_main{
	float: left;
	width:70%;
	height:120px ;
	margin: 25px 15% 0px 15%;
}
.in_main{
	float: left;
	width: 95%;
	height:108px;
	margin: 5px;
	border: 1px solid #a3212a;
	text-align: center;
}
.img_icon {
  width: 24.3%;
  height: 34px;
  background:url(../img/icon_03.png) no-repeat;
  background-size:100% ;
  margin: 8px auto 0px auto;
}
.in_main h1 {
  margin: 0;
  font-size: 1.5em;
  text-align: center;
  padding: 13px 0px 8px;
  color:#a01a23;
}
.in_main span {
  display: inline-block;
  margin: 0 auto;
}
/*table*/
table{
	border-width: thin;
	border-color:#ab9358 ;
	  margin: 0 auto;
}
tr{
	border: 1px solid #ab9358;
}
td {
  padding: 0px 8px;
  text-align: center;
}
/*table*/
.member_number {
  width: 90%;
  padding: 0 5%;
  margin-top: 5px;
  padding-bottom: 20px;
  border-bottom: 1px dashed #d1d1d1;
}
/*ul*/
/*.member_number ul{
	padding: 0px;
}
.member_number li {
  float: left;
  text-align: center;
  padding: 0px 8px;
  width: 40px;
  height: 34px;
}
.border_t{
	border-top:1px solid #ab9358;
}
.border_l{
	border-left:1px solid #ab9358;
}
.border_r{
	border-right:1px solid #ab9358;
}
.border_b{
	border-bottom:1px solid #ab9358;
}*/
/*ul*/
.member_number b{
	display: block;
}
.m-use{
	width: 40px;
	height: 16px;
	background: url(../img/icon_07.png) no-repeat;
	background-size:100% ;
	margin-top: 3px;
}
.nullity{
	width: 100%;
	height: 35px;
	background: url(../img/icon_10.png) no-repeat -3px;
	background-size:100% ;
}
.no_use{
	line-height: 39px;
}
.member_number span{
	color: #d1d1d1;
}

/*ul*/
@media only screen and (min-width: 321px) and (max-width: 360px) {
	.quarter_card {
  	height: 190px;
	}
.out_main{
	height: 127px;
	margin: 30px 15% 0px 15%;
}
.in_main{
	height: 115px;;
}
.img_icon {
 		 height: 40px;
	}
	td{
		 padding: 0px 12px;
	}
/*.member_number ul{
	width: 316px;
    margin: 0 auto;
    
}
.member_number li {
  padding: 0px 11px;
}*/

}

@media only screen and (min-width: 361px) and (max-width: 375px) {
	.quarter_card {
  	height: 195px;
	}
	.out_main{
	height: 127px;
	margin: 34px 15% 0px 15%;
	}
	.in_main{
	height: 115px;;
	}
	.img_icon {
 	height: 40px;
	}
	td{
		 padding: 0px 13px;
	}
	/*.member_number li {
 	 padding: 0px 13px;
	}*/

}

@media only screen and (min-width: 376px) and (max-width: 640px) {
	.quarter_card {
		  height: 215px;
	}
	.out_main {
	  height: 135px;
	  margin: 40px 15% 10px 15%;
	}
	.in_main{
		  height: 123px;
	}
	.img_icon {
 		 height: 46px;
	}
	td{
		 padding: 0px 16px;
	}
	/*.member_number ul{
	width: 366px;
    margin: 0 auto;
    
}
	.member_number li {
 	 padding: 0px 16px;
	}
	*/
}


