body{
	background: url(../img/bg_01.jpg) no-repeat;
	background-size:100% ;	
	color: white;
	font-size: 14px;
}
body,ul,li,h1{
	padding: 0px;
	margin: 0px;
}
a{
	text-decoration: none;
}
.success{
	width: 90%;
	height:75px;
	border-bottom: 1px dashed white;
	margin: 0 auto;
}
.success h1{
	font-size: 1.5em;
	font-weight: 100;
	float: left;
	margin-top: 25px;
}
.success b{
	float: left;
	width: 21px;
	height: 21px;
	background: url(../img/icon_11.png) no-repeat;
	background-size:100% ;
	margin: 27px 10px 0px 17%;
}
.you_can {
  width: 90%;
  height: 160px;
  border-radius: 10px;
  margin: 20px 5%;
  border: 1px solid #b5b0ac;
  background: rgba(255,255,255,0.2);
  /* background: white; */
  /* opacity: 0.2; */
}
.you_can button{
	display: block;
	background: #ab9358;
	border: 0;
	color: white;
	width: 70%;
	line-height: 25px;
	margin: 7px auto 0px auto;
}
.you_can p {
  margin: 18px auto 13px auto;
  display: block;
  /* text-align: center; */
  width: 70%;
  font-size: 0.8em;
}

@media only screen and (min-width: 321px) and (max-width: 360px) {
	.success b{
		margin: 27px 10px 0px 20%;
	}
	.you_can{
		height: 165px;
	}
	
	.you_can p {
 		 margin: 15px auto 16px auto;
	}
	.you_can button {
	 margin: 8px auto 0px auto;
	}		
}
@media only screen and (min-width:361px) and (max-width: 375px) {
	
	
	
}
@media only screen and (min-width: 376px) and (max-width: 640px) {
	.you_can{
		height: 170px;
	}
	.you_can p {
 		 margin: 20px auto 15px auto;
	}
	.you_can button {
	margin:8px auto 0px auto;
	line-height: 27px;
	}
	.success b{
		margin: 27px 10px 0px 23%;
	}
}
